<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes / babbage</title>
</head>
<body>
    <h1>babbage</h1>
    <p>
        Charles Babbage fue un matemático y científico de la computación británico.1Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.2
    </p>
    <h2>Indice</h2>
    <ol>
        <li><a href="">Historia</a></li>
        <ol type = "a">
            <li><a href="">Primeros años</a></li>
            <li><a href="">Primeros años en Cambridge</a></li>
            <li><a href="">Despues de Cambridge</a></li>
        </ol>
        <li><a href="">Diseño de computadoras</a></li>
        <li><a href="">Máquina analítica</a></li>
        <li><a href="">Planos de la impresora moderna</a></li>
        <li><a href="">Promoción del cálculo</a></li>
        <li><a href="">Criptografía</a></li>
        <li><a href="">Economía, principio de Babbage</a></li>
        <li><a href="">Otros logros</a></li>
    </ol>
    <h2>Historia</h2>
    <h3>primeros años en Cambridge</h3>
    <p>
        Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En primer lugar, según Dictionary of National Biography seguramente nació en el número 44 de Crosby Row, Walworth en Londres, Inglaterra.3 En relación a su fecha de nacimiento, The Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes. 456
    </p>
    <p>Fuente<a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank"> wikipedia</a></p>
</body>
</html>