<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp Heroes</title>
</head>
<body>
    <h1>Heroes</h1>
    <a href="/babbage">babbage</a>
    <a href="/berners-lee">Berners-Lee</a>
    <a href="/clarke">clarke</a>
    <a href="hamilton">Hamilton</a>
    <a href="/hopper">hopper</a>
    <a href="/lovelace">lovelace</a>
    <a href="/turing">turing</a>


    <img src="/img/babbage.jpg" alt="babbage">
    <img src="/img/berners-lee.jpg" alt="berners-lee">
    <img src="/img/clarke.jpg" alt="clarke">
    <img src="/img/hopper.jpg" alt="hopper">
    <img src="/img/lovelace.jpg" alt="lovelace">
    <img src="/img/turing.jpg" alt="turing">
</body>
</html>